<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<a href="./">Home</a>
<a href="./projects">Projects</a>
</head>
<body>
<h1>Connect with me</h1>

Feel free to contact me via email at mitchell.coding@gmail.com or follow me on Github: mitchell-917.

</body>
</html>